body {
  background: #cecece;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  height: 100%;
}

.wrapper {
  font-size: 2em;
  width: 800px;
  margin: 30px auto;
  color: rgb(0, 0, 0);
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.6em;
  text-transform: uppercase;
  color: black;
}

#seconds, #milliseconds {
  font-size: 2em;
  color: black;
}

/* Styling for the start button */
#start-btn {
  border-radius: 5px;
  background: rgb(20, 170, 40);
  color: white;
  border: solid 1px rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

#start-btn:hover {
  transition: background 0.3s ease;
  background: rgb(20, 95, 30);
  border: solid 1px rgb(0, 0, 0);
  color: #ffffff;
}

/* Styling for the stop button */
#stop-btn {
  border-radius: 5px;
  background: rgb(223, 30, 30);
  color: white;
  border: solid 1px rgb(7, 7, 7);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

#stop-btn:hover {
  transition: background 0.3s ease;
  background: rgb(156, 15, 15);
  border: solid 1px rgb(5, 4, 4);
  color: #ffffff;
}

/* Styling for the reset button */
#reset-btn {
  border-radius: 5px;
  background: rgb(138, 138, 134);
  color: rgb(255, 255, 255);
  border: solid 1px rgb(10, 10, 10);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

#reset-btn:hover {
  transition: background 0.3s ease;
  background: rgb(78, 78, 78);
  border: solid 1px rgb(0, 0, 0);
  color: #ffffff;
}

#footer {
  text-align: center;
  position: relative;
  top: 460px;
}
